

@font-face {
  font-family: FreeSetC;
  src: url('../media/FreeSetC.ttf');
}

@font-face {
  font-family: FreeSetMP;
  src: url('../media/FreeSetMP.ttf');
}

@font-face {
  font-family: FreeSetBold;
  src: url('../media/FreeSetBold.ttf');
}

.FontFreeSetC {
  font-family: FreeSetC, "Trebuchet MS", Arial;
  color:#777;
  font-size: 23px;
  letter-spacing: 1px;
}

.FontFreeSetMP {
  font-family: FreeSetMP, "Trebuchet MS", Arial;
  color:#444;
  font-size: 17px;
  line-height: 15px;
  letter-spacing: 1px;
}

.FontFreeSetBold {
  font-family: FreeSetBold, "Trebuchet MS", Arial;
  font-size: 9pt;
}
